[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "boostrq"]
	path = boostrq
	url = https://github.com/stefanlinner/boostrq
[submodule "tidyMC"]
	path = tidyMC
	url = https://github.com/stefanlinner/tidymc
